<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Atención</h5>
        <button type="button" class="close text-light btn-dismiss-modal-streamer" data-dismiss="modal" aria-label="Close"
          id="btnModalCloseX">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-stream-text"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-dismiss-modal btn-dismiss-modal-streamer" data-dismiss="modal"
          id="btnModalCloseCerrar">Cerrar</button>
        {{!--<button type="button" class="btn btn-primary">Understood</button>--}}
      </div>
    </div>
  </div>
</div>