<h1 class="mx-5">Términos y condiciones</h1>
<div class="container mt-4">
    <ul>
        <li>Lorem ipsum
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus vero quod quisquam
                    fugit voluptatibus eius debitis. Consequatur minus fuga itaque dolorum laudantium assumenda vel,
                    voluptatum quas dolore alias dolores.</li>
            </ul>
        </li>
        <li>Lorem ipsum
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus vero quod quisquam
                    fugit voluptatibus eius debitis. Consequatur minus fuga itaque dolorum laudantium assumenda vel,
                    voluptatum quas dolore alias dolores.</li>
            </ul>
        </li>
        <li>Lorem ipsum
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus vero quod quisquam
                    fugit voluptatibus eius debitis. Consequatur minus fuga itaque dolorum laudantium assumenda vel,
                    voluptatum quas dolore alias dolores.</li>
            </ul>
        </li>
        <li>Lorem ipsum
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus vero quod quisquam
                    fugit voluptatibus eius debitis. Consequatur minus fuga itaque dolorum laudantium assumenda vel,
                    voluptatum quas dolore alias dolores.</li>
            </ul>
        </li>
        <li>Lorem ipsum
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus vero quod quisquam
                    fugit voluptatibus eius debitis. Consequatur minus fuga itaque dolorum laudantium assumenda vel,
                    voluptatum quas dolore alias dolores.</li>
            </ul>
        </li>
        <li>Lorem ipsum
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus vero quod quisquam
                    fugit voluptatibus eius debitis. Consequatur minus fuga itaque dolorum laudantium assumenda vel,
                    voluptatum quas dolore alias dolores.</li>
            </ul>
        </li>
    </ul>
</div>